h1 {
  text-align: center;
  /* 字体居中 */
  font-family: "宋体";
  font-size: 45px;
}

#shudu {
  display: block;
  /* border: 5px solid #000; */
  /* 测试区域大小 */
}

.sd {
  width: inherit;
  height: 600px;
}

.bg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#biaoge {
  width: 590px;
  height: 540px;
  list-style: none;
  position: static;
}
#biaoge li {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  float: left;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

/* 表格上色 */
/* 前 */
[x="1"][y="1"],
[x="1"][y="2"],
[x="1"][y="3"],
[x="2"][y="1"],
[x="2"][y="2"],
[x="2"][y="3"],
[x="3"][y="1"],
[x="3"][y="2"],
[x="3"][y="3"] {
  background-color: rgb(187, 116, 116);
}

[x="1"][y="4"],
[x="1"][y="5"],
[x="1"][y="6"],
[x="2"][y="4"],
[x="2"][y="5"],
[x="2"][y="6"],
[x="3"][y="4"],
[x="3"][y="5"],
[x="3"][y="6"] {
  background-color: rgb(192, 191, 115);
}

[x="1"][y="7"],
[x="1"][y="8"],
[x="1"][y="9"],
[x="2"][y="7"],
[x="2"][y="8"],
[x="2"][y="9"],
[x="3"][y="7"],
[x="3"][y="8"],
[x="3"][y="9"] {
  background-color: rgb(105, 230, 89);
}
/* 中 */
[x="4"][y="1"],
[x="4"][y="2"],
[x="4"][y="3"],
[x="5"][y="1"],
[x="5"][y="2"],
[x="5"][y="3"],
[x="6"][y="1"],
[x="6"][y="2"],
[x="6"][y="3"] {
  background-color: rgb(127, 201, 211);
}

[x="4"][y="4"],
[x="4"][y="5"],
[x="4"][y="6"],
[x="5"][y="4"],
[x="5"][y="5"],
[x="5"][y="6"],
[x="6"][y="4"],
[x="6"][y="5"],
[x="6"][y="6"] {
  background-color: rgb(113, 138, 206);
}

[x="4"][y="7"],
[x="4"][y="8"],
[x="4"][y="9"],
[x="5"][y="7"],
[x="5"][y="8"],
[x="5"][y="9"],
[x="6"][y="7"],
[x="6"][y="8"],
[x="6"][y="9"] {
  background-color: rgb(152, 95, 206);
}
/* 后 */
[x="7"][y="1"],
[x="7"][y="2"],
[x="7"][y="3"],
[x="8"][y="1"],
[x="8"][y="2"],
[x="8"][y="3"],
[x="9"][y="1"],
[x="9"][y="2"],
[x="9"][y="3"] {
  background-color: rgb(235, 116, 199);
}

[x="7"][y="4"],
[x="7"][y="5"],
[x="7"][y="6"],
[x="8"][y="4"],
[x="8"][y="5"],
[x="8"][y="6"],
[x="9"][y="4"],
[x="9"][y="5"],
[x="9"][y="6"] {
  background-color: rgb(223, 107, 107);
}

[x="7"][y="7"],
[x="7"][y="8"],
[x="7"][y="9"],
[x="8"][y="7"],
[x="8"][y="8"],
[x="8"][y="9"],
[x="9"][y="7"],
[x="9"][y="8"],
[x="9"][y="9"] {
  background-color: rgb(140, 145, 115);
}
